<header id="haothings-masthead">
  <div id="haothings-masthead-inner">
    <a id="haothings-site-title" href="{{ '/' | relative_url }}"><strong>hao things</strong> :)</a>
    <nav id="haothings-nav">
      {%- for link in site.data.navigation.main -%}
        {%- if link.break_before -%}<span class="nav-line-break"></span>{%- endif -%}
        <a href="{{ link.url | relative_url }}"{% if link.class %} class="{{ link.class }}"{% endif %}>{{ link.title }}</a>
      {%- endfor -%}
    </nav>
  </div>
</header>
