{%- assign article = include.article -%}
{%- assign _content_for_preview = article.content -%}
{%- assign _preview_marker = '<!-- writing-preview -->' -%}
{%- if _content_for_preview contains _preview_marker -%}
  {%- assign _preview_parts = _content_for_preview | split: _preview_marker -%}
  {%- assign _content_for_preview = _preview_parts | last -%}
{%- endif -%}
{%- assign _cfp_start = _content_for_preview | strip | slice: 0, 3 -%}
{%- if _cfp_start == '<h1' or _cfp_start == '<h2' or _cfp_start == '<h3' or _cfp_start == '<h4' -%}
  {%- if _cfp_start == '<h1' -%}{%- assign _hclose = '</h1>' -%}{%- elsif _cfp_start == '<h2' -%}{%- assign _hclose = '</h2>' -%}{%- elsif _cfp_start == '<h3' -%}{%- assign _hclose = '</h3>' -%}{%- else -%}{%- assign _hclose = '</h4>' -%}{%- endif -%}
  {%- assign _hparts = _content_for_preview | split: _hclose -%}
  {%- assign _content_for_preview = '' -%}
  {%- for _hp in _hparts -%}{%- unless forloop.first -%}{%- if _content_for_preview == '' -%}{%- assign _content_for_preview = _hp -%}{%- else -%}{%- assign _content_for_preview = _content_for_preview | append: _hclose | append: _hp -%}{%- endif -%}{%- endunless -%}{%- endfor -%}
{%- endif -%}
{%- assign _safe_source = _content_for_preview | replace: '<em>', '⟪em⟫' | replace: '</em>', '⟪/em⟫' | replace: '<i>', '⟪em⟫' | replace: '</i>', '⟪/em⟫' | newline_to_br | replace: '<br />', ' ' | replace: '<br/>', ' ' | replace: '<br>', ' ' | replace: '</p>', ' ' | replace: '</li>', ' ' | replace: '</h1>', ' ' | replace: '</h2>', ' ' | replace: '</h3>', ' ' | replace: '</h4>', ' ' | replace: '</h5>', ' ' | replace: '</h6>', ' ' -%}
{%- assign _safe = _safe_source | strip_html | strip_newlines | strip | replace: '  ', ' ' | replace: '  ', ' ' | replace: '  ', ' ' -%}
{%- assign _hr_parts = _content_for_preview | split: '<hr' -%}
{%- assign _first_text_source = _hr_parts[0] | newline_to_br | replace: '<br />', ' ' | replace: '<br/>', ' ' | replace: '<br>', ' ' | replace: '</p>', ' ' | replace: '</li>', ' ' | replace: '</h1>', ' ' | replace: '</h2>', ' ' | replace: '</h3>', ' ' | replace: '</h4>', ' ' | replace: '</h5>', ' ' | replace: '</h6>', ' ' -%}
{%- assign _first_text = _first_text_source | strip_html | strip_newlines | strip | replace: '  ', ' ' | replace: '  ', ' ' | replace: '  ', ' ' -%}
{%- assign _first_len = _first_text | size -%}
{%- if _hr_parts.size > 1 and _first_len < 200 and _first_len > 0 -%}
  {%- assign _first_safe_source = _hr_parts[0] | replace: '<em>', '⟪em⟫' | replace: '</em>', '⟪/em⟫' | replace: '<i>', '⟪em⟫' | replace: '</i>', '⟪/em⟫' | newline_to_br | replace: '<br />', ' ' | replace: '<br/>', ' ' | replace: '<br>', ' ' | replace: '</p>', ' ' | replace: '</li>', ' ' | replace: '</h1>', ' ' | replace: '</h2>', ' ' | replace: '</h3>', ' ' | replace: '</h4>', ' ' | replace: '</h5>', ' ' | replace: '</h6>', ' ' -%}
  {%- assign _first_safe = _first_safe_source | strip_html | strip_newlines | strip | replace: '  ', ' ' | replace: '  ', ' ' | replace: '  ', ' ' -%}
  {%- assign _preview_raw = _safe | remove_first: _first_safe | strip | truncate: 300, '' -%}
{%- else -%}
  {%- assign _preview_raw = _safe | truncate: 300, '' -%}
{%- endif -%}
{%- assign entry_preview = _preview_raw | replace: '⟪em⟫', '<em>' | replace: '⟪/em⟫', '</em>' -%}
{%- assign _open_count = entry_preview | split: '<em>' | size | minus: 1 -%}
{%- assign _close_count = entry_preview | split: '</em>' | size | minus: 1 -%}
{%- if _open_count > _close_count -%}{%- assign entry_preview = entry_preview | append: '</em>' -%}{%- endif -%}
{{- entry_preview -}}
