---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$link-color: #4169e1;

// import fonts (local scripts)
@import 'partials/_fonts';

// custom fonts from Google fonts go here 
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');  // JetBrains Mono

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  
    font-size: 16px; // change to whatever
  
    @include breakpoint($medium) {
      font-size: 16px; // change to whatever
    }
  
    @include breakpoint($large) {
      font-size: 18px; // change to whatever
    }
  
    @include breakpoint($x-large) {
      font-size: 20px; // change to whatever
    }

    // apply custom font 
    // font-family: 'JetBrains Mono', monospace;
    font-family: 'Mononoki', sans-serif;
  }

  body {
    font-family: 'Mononoki', sans-serif;
    font-weight: normal;
    font-style: normal;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Mononoki', sans-serif;;
    font-weight: normal;
  }
  
  p {
    font-family: 'Mononoki', sans-serif;  // apply the font to paragraph text
    font-size: 16px;
  }

  em, i {
    font-family: 'Mononoki', sans-serif;
    font-style: italic;
  }

  strong {
    font-family: 'Mononoki', sans-serif;
    font-style: italic;
  }