---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {% if page.lede %}
      <div class="page__lede">{{ page.lede | markdownify }}</div>
    {% endif %}
    {{ content }}

    <div class="page__drift">
      <a href="#" class="drift-link" onclick="event.preventDefault();var c='abcdefghijklmnopqrstuvwxyz0123456789',s='';for(var i=0;i<3+Math.floor(Math.random()*5);i++)s+=c[Math.floor(Math.random()*c.length)];window.location.href='/'+s;">wander off</a>
    </div>

    {% if page.author_profile or layout.author_profile %}
      <div class="page__author-footer">
        {% include author-profile.html profile_position='footer' %}
      </div>
    {% endif %}
  </div>
</div>