/* 
this custom script deals with fonts that are served within the repo
the first instance being mononoki
8 Oct 2024, Dinghao
 */

@font-face {
    font-family: 'Mononoki';
    src: url('/assets/fonts/mononoki/mononoki-Regular.ttf') format('truetype'),
         url('/assets/fonts/mononoki/mononoki-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Mononoki';
    src: url('/assets/fonts/mononoki/mononoki-Bold.ttf') format('truetype'),
         url('/assets/fonts/mononoki/mononoki-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

@font-face {
    font-family: 'Mononoki';
    src: url('/assets/fonts/mononoki/mononoki-BoldItalic.ttf') format('truetype'),
         url('/assets/fonts/mononoki/mononoki-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
  }

@font-face {
    font-family: 'Mononoki';
    src: url('/assets/fonts/mononoki/mononoki-Italic.ttf') format('truetype'),
         url('/assets/fonts/mononoki/mononoki-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
  }